/* PAGE */
/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 110px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.App {
    background-color: #ccd9e8;
}

.chicken {
  box-sizing: border-box;
  width: 300px;
  padding: 45px 45px 45px 20px;
  background-color: #2980B9;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 101%;
  padding: 5px 5px;
}

.pure-button-primary {
  background-color: #1b55e2;
}

.pure-button-primary:hover {
  background-color: #1b55e2;
}

.pure-form input[type="text"]:focus {
  border-color: #8cfa2b;
  background-color: #dee2e6;
}

.pure-u-1-1 {
  margin-top: 7%;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

/* the boxes in the navbar */
.navbar a {
  background-color: #2980B9;;
  color: #000000;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
